<div class="text-center">
    <h2>New Contact Form</h2>
</div>

<br>

<div class="card mb-3">
    <div class="card-body">
        <form method="post">
            <div class="container">
                <div class="row">
                    <div class="col mb-3">
                        <label for="firstNameInput" class="form-label">First Name</label>
                        <input type="text" class="form-control" id="firstNameInput" name="NewContact.FirstName" required>
                    </div>
                    <div class="col mb-3">
                        <label for="lastNameInput" class="form-label">Last Name</label>
                        <input type="text" class="form-control" id="lastNameInput" name="NewContact.LastName" required>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="emailInput" class="form-label">Email</label>
                        <input type="email" class="form-control" id="emailInput" name="NewContact.Email" required>
                    </div>
                    <div class="col mb-3">
                        <label for="titleInput" class="form-label">Title</label>
                        <select class="form-select" id="titleInput" name="NewContact.Title">
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Miss">Miss</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="descriptionInput" class="form-label">Description</label>
                        <textarea class="form-control" id="descriptionInput" rows="3" name="NewContact.Description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col mb-3">
                        <label for="birthDateInput" class="form-label">Date Of Birth</label>
                        <input type="date" class="form-control" id="birthDateInput" name="NewContact.BirthDate" required>
                    </div>
                    <div class="col mb-3">
                        <label for="maritalStatusInput" class="form-label">Married</label>
                        <select class="form-select" id="maritalStatusInput" name="NewContact.MaritalStatus">
                            <option value="No">No</option>
                            <option value="Yes">Yes</option>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;">
                    <div class="col">
                        <button type="submit" class="btn btn-primary">Add Contact</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>